*{
    box-sizing: border-box;
}
@import "./header.scss";
@import "./_we-are-modest.scss";
@import "./_slider.scss";
@import "./_meet-the-team.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Quattrocento+Sans:wght@700&display=swap');
body{
    margin: 0;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
      
}
[class*="col-"]{
    padding-left: 15px;
    padding-right: 15px;
}

/* phone(xs-extra small) */
@media(max-width:767px){
    .col-xs-hidden{
        display: none;
    }
    .row{
        flex-wrap: wrap;
    }
    .menu{
        overflow-x: scroll;
    }
    .col-xs-12{
        flex: 0 0 100%;
        width: 100%;
    }
    .logo{
        text-align: center;
        margin: 15px;
    }
    .social-buttons {
        margin-left: -20px;
    }
    .personal{
        margin-bottom: 90px;
    }
}

/* tablet(sm-small) */
@media(min-width:768px) and (max-width:991px){
    .container{ width: 750px;}
    .col-sm-2{
        flex: 0 0 16.66667%;
        width: 16.66667%;
    }
    .col-sm-5{
        flex: 0 0 41.66667%;
        width: 41.66667%;
    }
    .col-sm-6{
        flex: 0 0 50%;
        width: 50%;
    }
    .col-sm-7{
        flex: 0 0 58.33333%;
        width: 58.33333%;
    }
    .col-sm-8{
        flex: 0 0 66.66667%;
        width: 66.66667%;
    }
    .menu{
        gap:5px;
        padding: 0px;
    }
    .search {
        width: 100px;
    }
    .search input{
        width: 65px;
    }
    .row{
        flex-wrap: wrap;
    }
    .personal{
        margin-bottom: 90px;
    }
}

/* laptop(md-medium) */
@media(min-width:992px) and (max-width:1119px){
    .container{width: 970px}
    .col-md-2{
        flex: 0 0 16.66667%;
        width: 16.66667%;
    }
    .col-md-3{
        flex: 0 0 25%;
        width: 25%;
    }
    .col-md-5{
        flex: 0 0 41.66667%;
        width: 41.66667%;
    }
    .col-md-7{
        flex: 0 0 58.33333%;
        width: 58.33333%;
    }
    .col-md-8{
        flex: 0 0 66.66667%;
        width: 66.66667%;
    }
    .menu{
        gap:20px;
    }
    .search{
        width: 160px;
    }
    .search input{
        width: 100px;
    }
}

/* desktop(lg-large) */
@media(min-width:1200px){
    .container{width:1170px}
    .col-lg-2{
        flex: 0 0 16.66667%;
        width: 16.66667%;
    }
    .col-lg-3{
        flex: 0 0 25%;
        width: 25%;
    }
    .col-lg-5{
        flex: 0 0 41.66667%;
        width: 41.66667%;
    }
    .col-lg-7{
        flex: 0 0 58.33333%;
        width: 58.33333%;
    }
    .col-lg-8{
        flex: 0 0 66.66667%;
        width: 66.66667%;
    }
    .col-lg-12{
        flex: 0 0 100%;
        width: 100%;
    }
    .menu{
        gap:20px;
    }
    .search{
        width: 195px;
    }
    .search input{
        width: 155px;
    }
    
}
.line{
    width: 100%;
    height: 1px;
    background-color: #a4aead;
}
